.wordmarkWindows-1v0lYD::after {
    content: "Ja'Crispy"; //This changes the words "discord" on the top left
    display: block;
    position: relative;
    width: 200px;
    height: 16px;
    line-height: 16px;
    font-family: var(--font-headline);
    font-size: 20px;
    font-weight: 600;
    color: white; //color any color can be set
}
